.container {
  display: flex;  
}

.div1, .div2, .div3,div4,div5 {
  padding: 20px;
} 

.div1 {
  background: brown;
}

.div2 {
  background: grey; 
}

.div3 {
  background: green;
}
.div4 {
  background: violet;
}
.div5 {
  background: yellow;
}
